<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <!-- add uppercase pipe -->
          <!-- add custom shorten pipe, see shorten.pipe.ts, also register in app.component.ts -->
          <strong>{{ server.name | shorten:20 }}</strong> |
          {{ server.instanceType | uppercase }} |
          <!-- add date pipe w/parameter -->
          {{ server.started | date:'fullDate' | shorten:20}}
        </li>
      </ul>
    </div>
  </div>
</div>
